
/*https://webgradients.com/*/



h2{
    
    font-style: italic;
    font-style: oblique;
    
}

p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;

}


body{
    background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);
    justify-content: center;
}

#section{
    justify-content: center;
    align-items: center;
    align-content: center;
}


a{
    text-decoration: none;
    color: black;
}

.center{
    text-align: center;
}

footer tr table{
    text-align: center;
}
hr{
    background-color:black;
    color: black;
}
ul{
    list-style: none;
}


@media (max-width: 1024px){  /*Portatil*/
    body {
        background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
        }
    h1,h2,h3,a,section,p{
        color: blue;
    }   
}

@media (max-width: 480px){  /*Celulares*/
    body {
        background: linear-gradient(#e66465, #9198e5);
        }
    h1,h2,h3,a,section{
        color: white;
    }
}   

@media  only screen  and (orientation:landscape){  /*Celulares horizontales*/
    body {
        background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
        }
    h1,h2,h3,a,section,p{
        color: black;
    }
}  




